.App {
    text-align: center;
    padding: .5rem;
  }

  #userImg {
    width: 300px;
    border-radius: 3rem;
  }
  
  .followerImg {
    width: 200px;
    border-radius: 3rem;
  }

  .followersDiv {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .followerCardDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .followerCards {
    padding: 1rem;
  }
  
  h1 {
    margin: 0%;
    padding: 1rem;
  }